.article {
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow: visible;
}

.article-info {
  margin-top: -30px;
}
.article-info__container {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 15px;
  flex-wrap: wrap;
}

.article-body {
  margin: 0 auto;
  max-width: 1060px;
}
.article-body__image {
  margin: 15px 0;
  border-radius: 8px;
  width: 100%;
  background-color: #595959;
  min-height: 230px;
  height: max(230px, min(50vh, 560px));
  max-height: 560px;
}