.last-news__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
@media (max-width: 767px) {
  .last-news__container {
    gap: 40px;
  }
}
.last-news__body {
  align-self: center;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1439px) {
  .last-news__body {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .last-news__body {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.last-news__sample {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 0 1 52%;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .last-news__sample {
    margin: 0;
    align-self: flex-end;
  }
}
.last-news__list {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 767px) {
  .last-news__list {
    display: none;
  }
}
.last-news__link {
  color: #FAFAFA;
  position: relative;
  left: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 100%; /* 32px */
  letter-spacing: 0.64px;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media (max-width: 1023px) {
  .last-news__link {
    font-size: 24px;
  }
}
.last-news__link--active {
  text-decoration: underline !important;
  left: 20px;
}
.last-news__button {
  align-self: flex-end;
}
.last-news__cards-wrapper {
  width: 413px;
  height: 547px;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .last-news__cards-wrapper {
    width: 325px;
  }
}
@media (max-width: 767px) {
  .last-news__cards-wrapper {
    overflow: auto;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 424px) {
  .last-news__cards-wrapper {
    width: 300px;
  }
}
.last-news__card {
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mini-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 413px;
  height: 547px;
  background-color: #262121;
  border-radius: 8px;
}
@media (max-width: 1023px) {
  .mini-card {
    width: 325px;
  }
}
@media (max-width: 424px) {
  .mini-card {
    width: 300px;
  }
}
.mini-card__image {
  background-color: #595959;
  height: 441px;
}
.mini-card__heading {
  padding: 15px 20px;
  min-height: 106px;
}
.mini-card__title {
  color: #FAFAFA;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 24px */
  letter-spacing: 0.48px;
}
@media (max-width: 1023px) {
  .mini-card__title {
    font-size: 20px;
  }
}